@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

body {
    max-width: 100%;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    margin-top: 5rem;
    overflow-x: hidden;
    padding: 0;
    margin: 5rem 0 0 0;
    
}

/* Header */
 
.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 200;
    
}

.logo a img{
    height: 2rem;
    border-radius: 50%;
}

.navbar a {
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    text-decoration: none;
    margin-right: 1.2rem;
    
}


.navbar a:hover {
    color: rgb(113, 128, 196);
}

/* Home Page */

.section-home {
    width: 100vw;
    background-image: url(./img/bg-image.jpg);
    height: 80vh;
}

.section-home h2 {
    font-family: 'Changa One', cursive;
    font-size: 1.8rem;
    color: #1486c4;
    font-weight: 200;
    padding: 1.5rem 0 0 0;
}

.home-chiffre-wrapper {
    background-color: rgba(255, 255, 255, 0.9);
    height: 81vh;
}

.home-chiffre {
    height: 3rem;
    margin-bottom: 5rem;
}

.chiffre {
    color: red;
    font-size: 4rem;
    font-weight: bold;
    height: 1.5rem;
}

.chiffre-value {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.2rem;
}

.section-corona {
    background-color: black;
    width: 100vw;
}

.section-corona h2 {
    font-family: 'Changa One', cursive;
    color: white;
    padding: 2rem 0 0 0;
    letter-spacing: 0.1rem;
}

.section-corona p {
    color: red;
    font-size: 1.2rem;
    line-height: 2rem;
    padding-top: 2rem;
    letter-spacing: 0.08rem;
}

.section-corona iframe {
    width: 90vw;
    height: 25vh;
    padding: 2rem 0;
}

.section-corona button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5vh;
    font-size: 1.2rem;
    padding: 2vh 5vw;
    margin-bottom: 2vh;
}

.section-map {
    font-weight: bolder;
    font-size: 1.2rem;

}

.section-map .when {
    color: red;
}

.blue-btn {
    background-color: #1486c4;
    color: white;
    border: none;
    border-radius: 5vh;
    font-size: 1.2rem;
    padding: 1.5vh 5vw;
    margin: 2vh 0 3vh 0;
}

.blue-btn:hover {
    background-color: rgb(166, 197, 255);
}

.section-map iframe {
    width: 90vw;
    height: 50vh;
    padding: 2rem 0;
}

a, a:hover {
	color: #000;
	text-decoration: none;
	padding: 5px;
}

/* Social Icons */

.socialbtnsbtnsbtns, .socialbtnsbtnsbtns ul, .socialbtnsbtnsbtns li {
	margin: 0;
	padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
    padding: 0.4rem;
}

.socialbtns .fa {
	color: #FFF;
	text-shadow: 1px 1px 0px #000,
			1px -1px 0px #000,
			-1px 1px 0px #000,
			-1px -1px 0px #000;
	-webkit-text-shadow: 1px 1px 0px #000,
			1px -1px 0px #000,
			-1px 1px 0px #000,
			-1px -1px 0px #000;
	-moz-text-shadow: 1px 1px 0px #000,
			1px -1px 0px #000,
			-1px 1px 0px #000,
			-1px -1px 0px #000;
	-o-text-shadow: 1px 1px 0px #000,
			1px -1px 0px #000,
			-1px 1px 0px #000,
			-1px -1px 0px #000;
	transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-webkit-transition: all ease-out 0.5s;
	-o-transition: all ease-out 0.5s;
}

.socialbtns .fa:hover {
	color: #000;
	text-shadow: 1px 1px 0px #fff,
			1px -1px 0px #fff,
			-1px 1px 0px #fff,
			-1px -1px 0px #fff;
	-webkit-text-shadow: 1px 1px 0px #fff,
			1px -1px 0px #fff,
			-1px 1px 0px #fff,
			-1px -1px 0px #fff;
	-moz-text-shadow: 1px 1px 0px #fff,
			1px -1px 0px #fff,
			-1px 1px 0px #fff,
			-1px -1px 0px #fff;
	-o-text-shadow: 1px 1px 0px #fff,
			1px -1px 0px #fff,
			-1px 1px 0px #fff,
			-1px -1px 0px #fff;
	transition: all ease 0.5s;
	-moz-transition: all ease-in 0.5s;
	-webkit-transition: all ease-in 0.5s;
	-o-transition: all ease-in 0.5s;
}

/* flipping card */

.section-card {
    display: flex;
    flex-direction: column;
    
}

.card {
    margin:4rem auto;
    width:280px;
    height:320px;
    perspective: 1000px;
    text-align: center;
  }

  .card-inner-y {
    position:relative;
    width: 100%;
    height:100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .card:hover .card-inner-y {transform: rotateY(180deg);}

  .card-inner-x {
    position:relative;
    width: 100%;
    height:100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    
  }

  .card:hover .card-inner-x {transform: rotateX(180deg);}

  .recto, .verso {
    position:absolute;
    height:100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding:16px;
    border-radius:8px;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.4);
  }

  .recto {
    background-image:url('images/front.jpg');
    background-size:cover;
    background-position:center center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: opacity .6s;
  }

  .recto:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background: #1486c4;
  }
  
  .recto .card-content {
    z-index: 1;
    color:white;
  }
  
  .recto .card-content p {color:#ececec;}

  .verso-y {
    transform: rotateY(180deg);
    background:#dc0323;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .verso-x {
    transform: rotateX(180deg);
    background:#dc0323;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .verso .card-image {
    width:120px;
    height:120px;
    margin:0 auto;
    border:solid 1px #cecece;
    border-radius:100%;
    background-image:url('images/back.jpg');
    background-size:cover;
    background-position:center center;
  }
  
  .verso p {
    margin-top : 3rem;;
    color: #ececec;
  }
  
  .verso {
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .verso  a {
    font-size:18px;
    color:white;
    background:black;
    width:42px;
    height:42px;
    border-radius:100%;
    margin:8px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition:opacity .2s;
  }
  
  .verso .card-icons a:hover {
    cursor:pointer;
    opacity:0.7;
  }
  
  .card:hover .recto {opacity:0;}

  .card .card-content h3 {
      text-transform: uppercase;
      font-weight: bold;
  }

  .card .donate-btn-icon {height: 1.5rem} 
  .card .arrow-icon {height: 1rem;}

  .text-wrapper {
      line-height: 2rem;
      font-size: .95rem;
      align-items: center;
  }

  .text-wrapper .logo {
      height: 8rem;
  }


  /*footer */
  footer {background-color: #dddddd;}
  .ocean {
      margin-top: 5rem;
    height: 5%;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    background: #d7d7d7;
    z-index: -100;
  }
  
  .wave {
    background: url(./img/wave.svg) repeat-x;
    position: absolute;
    bottom: -10px;
    width: 6400px;
    height: 198px;
    animation: wave 12s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite, swell 8s ease -1.25s infinite;;
    transform: translate3d(0, 0, 0);
  }
  
  
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  @keyframes swell {
    0%,
    100% {
      transform: translate3d(0, -40px, 0);
    }
    50% {
      transform: translate3d(0, -10px, 0);
    }
  }
  .endWave{
    display:none;
  }
  